<h3>You did it! You registered!</h3>

{# example, assuming you have a route named "login" #}
For completion of registration follow the link: <a href="{{ path('register_check_hash', {'hash' : hash }) }}">...</a>.

Thanks!